{% extends "users/base.html" %} {% block title %} Login Page {% endblock title%} {% block content %}

<h3>Sign In</h3>

{% if form.errors %}
<div>
  <div id="form_errors">
    {% for key, value in form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
  </div>
  <button type="button">
    <span>&times;</span>
  </button>
</div>
{% endif %}
<div class="card-body">
  <form method="POST">
    {% csrf_token %}
    <div class="form-row">
      <div>
        <div>
          <label class="small mb-1">Username</label>
          {{ form.username }}
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <label>Password</label>
          {{ form.password }}
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <!-- Add a Remember me functionality -->
          {{ form.remember_me }}
          <label> Remember me</label>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <button name="login" id="login">Sign in</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div>
  <div>
    <a href="{% url 'users-register' %}">Don't have an account yet? Go to signup</a><br />
    <a href="#"><i>Forgot Password?</i></a>
  </div>
</div>
{% endblock content %}
